appdirs==1.4.2
beautifulsoup4==4.5.3
bs4==0.0.1
click==6.7
Flask==0.12
gunicorn==19.7.1
html5lib==0.999999999
itsdangerous==0.24
Jinja2==2.9.5
lxml==3.7.3
MarkupSafe==0.23
numpy==1.12.0
packaging==16.8
pandas==0.19.2
protobuf==3.2.0
pyasn1==0.2.3
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
rsa==3.4.2
six==1.10.0
tensorflow-gpu==1.0.0
unicodecsv==0.14.1
Unidecode==0.4.20
virtualenv==15.1.0
waitress==1.0.2
webencodings==0.5
Werkzeug==0.11.15
