<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel = "stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<ul class = "nav nav-pills nav-justified">
  <li class = "active"><a href="/encrypt"> Encrypt  </a></li>
  <li><a href="/decrypt"> Decrypt a message </a></li>
  <li><a href="/"> Generate Keypair </a></li>
</ul>
   <body>
     <div>
      <h1> Test </h1>

        Let's encrypt a message

      <form action = "/encrypt" method = "POST">

        Enter in your public key pair: <input name = "pubkey"></input>
        Enter in the message you want to encrypt:
        <br>

        
      <textarea name = "toEncrypt">
      </textarea>

        <input type="submit"></button>

      </form>

    </div>

    <div>


      {{message}}

      {{encrypted}}
    </div>
  </body>
</html>
